<div class="container mt-2">

  <div class="row mb-2" *ngIf="moduleType=='List'">
    <div class="col">
      <button class="btn btn-success btn-sm" (click)="moduleType='New'">New</button>
    </div>
  </div>
  <div class="border mb-3" *ngIf="moduleType=='List'"></div>
  <app-list *ngIf="moduleType=='List'" [module]="moduleType" (getResp)="ModuleChange($event)"></app-list>
 
 
  <app-modify [module]="moduleType" [ID]="id"[EditObj]="editResponeObj" (GetModule)="Cancel($event)" *ngIf="moduleType=='New'||moduleType=='Edit'"></app-modify>


</div>

<router-outlet />
